<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"> 

<body>
<div class="aw-layout-page">
	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" th:fragment="navbar">
  		<div class="container-fluid">

   			<div class="navbar-header">
      			<a class="navbar-brand  hidden-xs">
	        	  Adiministração de Clientes
      			</a>

   			<ul class="nav  navbar-nav">
       			<li>
          			<a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
        		</li>
      		</ul>
    		</div>
  		</div>
	</nav>
</div>

</body>
</html>